

<!-- About Me -->
<section id="about" class="three slideInUp animated">
  <div class="container">

    <header>
      <h2>เกี่ยวกับป๋ม</h2>
    </header>

    <a href="#" class="image featured"><img src="/front/assets/images/team.jpg" alt="" /></a>

    <p>ผมชื่อบอล เป็นโปรแกรมเมอร์ในบริษัทแห่งหนึ่ง ชอบศึกษาเทคนิคใหม่ๆไปเรื่อย รวมถึงเรื่องนี้ก็ถือเป็นหนึ่งในหัวข้อที่ต้องทดสอบและศึกษาเช่นกัน ผมไม่ยึดติดกับรูปแบบเก่าๆ ไม่กลัวการเปลี่ยนแปลง และหวังว่าการทดสอบนี้จะทำให้เราสามารถผลิตงานที่มีคุณภาพให้กับลูกค้าได้นะจ๊ะ</p>

  </div>
</section>
