<div ng-class="{'header-visible': showMenu}">

<!-- Header -->
  <div id="header">

    <div class="top">

      <!-- Logo -->
        <div id="logo">
          <span class="image avatar48"><img src="/front/assets/images/avatar.jpg" alt="" /></span>
          <h1 id="title">ห้องแล็บ SEO</h1>
          <p>Single Page Application</p>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a ui-sref="front.home" ng-click="showMenu = false" id="top-link" class="skel-layers-ignoreHref" ng-class="{active: page == 'front.home'}"><span class="icon fa-home">หน้าแรก</span></a></li>
            <li><a ui-sref="front.why" ng-click="showMenu = false" id="portfolio-link" class="skel-layers-ignoreHref" ng-class="{active: page == 'front.why'}"><span class="icon fa-th">ทำไมต้องทดสอบ ?</span></a></li>
            <li><a ui-sref="front.about" ng-click="showMenu = false" id="about-link" class="skel-layers-ignoreHref" ng-class="{active: page == 'front.about'}"><span class="icon fa-user">เกี่ยวกับผม</span></a></li>
            <li><a ui-sref="front.contact" ng-click="showMenu = false" id="contact-link" class="skel-layers-ignoreHref" ng-class="{active: page ==  'front.contact'}"><span class="icon fa-envelope">ติดต่อผม</span></a></li>
          </ul>
        </nav>

    </div>

    <div class="bottom">

      <!-- Social Icons -->
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
          <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>

    </div>

  </div>

<!-- Main -->
  <div id="main" ui-view  autoscroll="true"></div>

<!-- Footer -->
  <div id="footer">

    <!-- Copyright -->
      <ul class="copyright">
        <li>&copy; <a ui-sref="front.home">ห้องแล็บ SEO</a>. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>

  </div>

  <div id="headerToggle"><a href ng-click="showMenu = !showMenu" class="toggle"></a></div>

</div>
